<div class="home">
	<div class="oi">
		<div class="left">
			<ul class="links">
				<!--<li (click)="openLink('https://fivem.net')" aria-label="Opens in browser" data-balloon-pos="right" *ngIf="gameName == 'gta5'">
					FiveM.net
				</li>
				<li (click)="openLink('https://redm.gg')" aria-label="Opens in browser" data-balloon-pos="right" *ngIf="gameName == 'rdr3'">
					RedM.gg
				</li>
				<li (click)="openLink('https://forum.cfx.re')" aria-label="Opens in browser" data-balloon-pos="right">
					Forum
				</li>
				<li (click)="openLink('https://patreon.com/fivem')" aria-label="Opens in browser" data-balloon-pos="right">
					Patreon
				</li>-->
			</ul>

			<!--Template for content: <div class="danger|warning">Shit <a href="shit">meh</a></div>-->
			<!--<div
				class="service-message with-links"
				(click)="serviceMessageClick($event)"
				*ngIf="serviceMessage"
				[innerHTML]="serviceMessage"
			>
			</div>-->
		</div>
		<div class="right" *ngIf="gameName != 'rdr3'">
			<!--<div class="player-stats" *ngIf="playerStats">
				<div
					aria-label="Current players count"
					data-balloon-pos="left"
				><span class="material-icons-outlined">people</span> {{playerStats[0]}}k</div>
				<div
					aria-label="Last 24h players peak"
					data-balloon-pos="left"
				><span class="material-icons-outlined trending">trending_up</span> {{playerStats[2]}}k</div>
			</div>
			<button *ngIf="!currentAccount" class="cfx-button primary account-link" (click)="linkAccount()">
				Link account
			</button>
			<div
				*ngIf="currentAccount && !streamerMode"
				[style.backgroundImage]="currentAccount.getAvatarUrlForCss()"
				class="userpic"
			></div>-->
		</div>
	</div>

<br>
FiveM™ is © by the <a href="#" (click)="openLink('https://fivem.net')">CitizenFX Collective.</a><br>
Source code for this custom binary release can be found <a href="#" (click)="openLink('https://github.com/svrpnet/fivem')">here</a>.
<br><br>
There isn't much to see on this screen besides legal compliance information, the SVRP launcher will automatically connect you to the city.

</div>
